:host {
    height: 100%;
    width: 100%;
    //Flex//
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    width: 100%;
    background-color: #C8E6C9;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainwhiteblock {
    height: 560px;
    width: 349px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
}

#productmaindescription {
    height: 33%;
    width: 100%;
    //Flex//
    display: flex;
    flex-direction: row;
    align-items: center;
}

#productingredientsanalysis {
    height: 33%;
    width: 100%;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productingredientsubtitle1 {
    height: 40px;
    width: 330px;
    left: 6.0%;
    right: 6.0%;
    top: 41.0%;
    bottom: 52.0%;
    background-color: FBFBFB;
    border: 1px solid rgb(175, 175, 175);
    box-sizing: border-box;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#goodorbadblock {
    height: 300px;
    width: 100%;
    background-color: rgb(148, 60, 136);
    //Flex//
    display: flex;
    flex-direction: row;
    align-items: center;
}

#goodforhealth {
    height: 100%;
    width: 50%;
    background-color: rgb(60, 84, 148);
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
}

#havenotpalmoilblock {
    height: 30px;
    width: 160px;
    background-color: #5ADA60;
    border-radius: 20px;
    //Flex//
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#havepalmoilblock {
    height: 30px;
    width: 160px;
    background-color: rgb(209, 49, 57);
    border-radius: 20px;
    //Flex//
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#badforhealth {
    height: 100%;
    width: 50%;
    background-color: rgb(156, 182, 60);
    //Flex//
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productnutritionalreferences {
    height: 33%;
    width: 100%;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productingredientsubtitle2 {
    height: 40px;
    width: 330px;
    left: 6.0%;
    right: 6.0%;
    top: 69.0%;
    bottom: 24.0%;
    background-color: #FBFBFB;
    border: 1px solid rgb(175, 175, 175);
    box-sizing: border-box;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#productmaindescriptionimage {
    height: 100%;
    width: 50%;
    //Flex//
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: 120px;
    width: 150px;
    border-left: 10px;
}

#productmaindescriptionlogo {
    height: 100%;
    width: 49%;
    background-color: yellow;
    //Flex//
    display: flex;
    flex-direction: column;
    justify-content: center;
    //Police//
}

#productmaindescriptionbrand {
    margin-bottom: 5px;
    margin-left: 5px;
}

#productmaindesctriptionquantity {
    margin-left: 5px;
}
