<header>
    <div id="grostitre">Bienvenue sur NutriPLus+</div>
    <div id="petittitre">Veuillez inserer vos coordonées pour poursuivre l'inscription</div>
</header>
<main>
    <form id="blocinput" [formGroup]="inscriptionForm" class="form" (ngSubmit)="onSubmitForm()">
        <mat-form-field>
            <input matInput placeholder="Nom" formControlName="nom" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Prénom" formControlName="prenom" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Pseudo" formControlName="motdepasse" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email" required>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!inscriptionForm.valid">Valider l'inscription</button>
    </form>
</main>
