<header>
    <p id="grostitre">Bienvenue sur NutriPLUS+
    </p>
    <p id="petittitre">Veuillez inserer vos coordonnées pour poursuivre l’inscription</p>
</header>
<main>
    <div id="blocinput">
        <input matInput class="baliseinput" placeholder="Nom" required>
        <input matInput class="baliseinput" placeholder="Prenom" required>
        <input matInput class="baliseinput" type="email" placeholder="Email" required>
        <input matInput class="baliseinput" type="password" placeholder="Mot de Passe" required>
    </div>
    <button mat-button id="boutonvalider" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/validationOfRegistration']">Valider l'inscription</button>
</main>
