<header>
    <p id="grostitre">Bienvenue sur NutriPLUS+
    </p>
    <p id="petittitre">Veuillez inserer vos coordonnées pour poursuivre l’inscription</p>
</header>
<main>
    <div id="blocinput">
        <input class="baliseinput" placeholder="   Nom">
        <input class="baliseinput" placeholder="   Prenom">
        <input class="baliseinput" placeholder="   Email">
        <input class="baliseinput" placeholder="   Numero Mobile">
    </div>
    <button mat-button id="boutonvalider">Valider l'inscription</button>
</main>