/* You can add global styles to this file, and also import other style files */

html,
body {
    position: relative;
    width: 375px;
    height: 667px;
    background: #FFFFFF
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: Roboto;
    src: url(assets/Roboto/Roboto-Black.ttf)
}